.footer {
    background-color: #242424;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    right:0;

    h6 {
        color: white;
        letter-spacing: .5em;
        text-transform: uppercase;
    }
}