.header {
  background-color: #252525;
  padding: 0.5rem 0;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
    justify-content: center;
  }
}

.logo {
  display: flex;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  &-img {
    padding: 1rem;

    @media only screen and (max-width: 500px) {
      display: flex;
      align-self: center;
      width: 32px;
      height: 32px;
    }
  }

  &-name {
    align-self: center;
    font-size: 1.75rem;
    padding: 0;
    margin: 0;
  }
}

.navbar {
  &-collapse {
    position: absolute;
    right: 0;

    a {
      padding: 0 3rem;
      font-size: 1rem;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
    }
  }
}

.logo {
  &-name {
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  &-img {
    width: 90px;
    height: auto;
  }
}
