.home {
  text-align: center;
  color: white;
  margin-top: 5rem;

  &-hero {
    display: flex;
    justify-content: center;

    &-btn {
      font-size: 2rem;
      font-family: "Assistant", sans-serif;
      font-weight: bold;
      text-transform: lowercase;
      text-decoration: none;
      align-self: center;
      color: #fff;

      &:hover,
      &:active {
        cursor: pointer;
        color: #52de97;
      }
    }

    &-img {
      width: 15rem;
      height: auto;
      padding-top: 5rem;
    }
  }
}

.Matrix {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.1;
}

.MessageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.message {
  color: white;
  font-family: "Courier New", Courier, monospace !important;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  box-sizing: border-box;
  text-align: center;
  flex-wrap: wrap;
}
