.about {
  padding: 2rem 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  color: #fff;

  @media only screen and (max-width: 990px) {
    padding: 2rem;
  }

  @media only screen and (max-width: 440px) {
    padding: 1rem;
  }

  .aboutStory {
    font-size: 1.25rem;
    text-align: justify;
    text-justify: inter-word;

    @media only screen and (max-width: 990px) {
      font-size: 0.8rem;
    }
  }

  .aboutGithub {
    padding: 2rem 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;

    @media only screen and (max-width: 990px) {
      font-size: 0.8rem;
    }
  }
}

.activity-overview-box,
.contrib-footer {
  display: none;
}

.wday,
.month {
  display: none;
}

.js-calendar-graph-svg {
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}

.contrib-column {
  margin-top: 1rem;
  font-size: 0.8rem;
  @media only screen and (max-width: 990px) {
    font-size: 0.25rem;
  }

  @media only screen and (max-width: 440px) {
    display: none;
  }
}
