.about {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 5rem;
  color: #fff;

  .aboutStory {
    padding: 0 5rem;
    margin-top: 2rem;
    width: 100%;

    h3 {
      text-align: center;
    }

    &-text {
      margin-top: 2rem;
    }
  }

  .aboutGithub {
    text-align: center;
    padding-top: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  h5 {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-top: 2rem;
  }
}

.box,
.activity-overview-box {
  display: none;
}

.contrib-column {
  font-size: 0.5rem;
}
