.about {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 10rem;
    padding: 0 5rem;
    
    &-me {
        h3, p, ul {
            color: #fff;
        }
    }

    &-github {
        width: 50%;
        text-align: center;
        color: #fff;

    }
}